@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

:root {
--kwRed:#B40101;
--darkRed:#990000;
--khaki:#EFEFDE;
--khakiOpac:#efefde70;
--taupe:#A19F91;
--lightTaupe:#DFDFD9;
--gray1:#333333;
--gray2:#666666;
--gray3:#999999;
--gray4:#CCCCCC;
--black:#000000;
--Lato: "'Lato', sans-serif"
}


.logo {
  height: 50px;
  width: auto;
  margin-bottom: 30px;
  border-bottom: 1px solid var(--gray2)
}
.contact {
  display: flex;
}